<div class="form-group">
  <h3>Add new item</h3>
  <form (ngSubmit)="onSubmit(form)" #form = "ngForm">
    <label>Name</label>
    <input class="form-control" ngModel name="name" placeholder="Name" type="text">
    <label>Description</label>
    <input class="form-control" ngModel name="description" placeholder="Description" type="text">
    <label>Price</label>
    <input class="form-control" ngModel name="price" placeholder="Price" type="text">
    <label>Amount of Stock</label>
    <input class="form-control" ngModel name="amountOfStock" placeholder="Amount of stock" type="text">
    <button class="btn btn-primary pull-right" type="submit">Create Item</button>
    <button class="btn btn-primary pull-right" (click)="cancel(form)">Cancel</button>
  </form>
  <button class="btn btn-primary pull-right" (click)="goBack()">Back</button>
</div>
