<div class="form-group">
  <h3>Add new item</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="createItemForm">
    <label>Name</label>
    <input  class="form-control" formControlName="name" placeholder="Name" type="text"  required>
    <label>Description</label>
    <div class="wrapper">
    <textarea class="form-control" formControlName="description" placeholder="Description"
              resizable="auto"
              [maxlength]="maxlength"
              (ngModelChange)="onValueChange($event)"
    ></textarea>
          <div class="custom-styling">
            <span class="counter">{{ counter }}</span>
          </div>

    </div>
    <label>Price</label>
    <input class="form-control" formControlName="price" placeholder="Price" type="text">
    <label>Amount of Stock</label>
    <input class="form-control" formControlName="amountOfStock" placeholder="Amount of stock" type="text">
    <button class="btn btn-primary pull-right" type="submit">Create Item</button>
    <button class="btn btn-primary pull-right" type="button" (click)="cancel()">Cancel</button>
  </form>
  <button class="btn btn-primary pull-right" (click)="goBack()">Back</button>
</div>
